services:
  app:
    build: .
    platform: linux/amd64
    container_name: analytics-api-app
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/analytics_db
      - REDIS_URL=redis://redis:6379
      - PORT=4000
    depends_on:
      - postgres
      - redis
    ports:
      - "4000:4000"

  postgres:
    image: postgres:15
    platform: linux/amd64
    container_name: analytics-api-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: analytics_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    platform: linux/amd64
    container_name: analytics-api-redis
    ports:
      - "6379:6379"

volumes:
  pgdata: